<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Easily manage rooms, patients, and staff in your practice | NextRoom</title>
    <meta name="description" content="Utilize the iPhone or iPod Touch and the NextRoom service to manage physician and nurse queues, tasks, and notifications in a medical practice." /> 
    <meta name="keywords" content="practice management, medical office efficiency, nextroom app, next room, room management, medical practice efficiency, medical app, medical application" /> 
    
    <link href='/media/css/nextroom.css' rel='stylesheet' type='text/css' />
    <!--[if IE 6]>
    <link href='/media/css/ie6.css' rel='stylesheet' type='text/css' />
    <![endif]-->

    <script type="text/javascript" src="http://use.typekit.com/lzw5ymu.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src='/media/js/jquery-1.4.2.min.js' type='text/javascript'></script>
    <script src='/media/js/jquery-easing.1.3.js' type='text/javascript'></script>
    <script src='/media/js/nextroom.js' type='text/javascript'></script>
  </head>
  <body>
      <div id="upper_content" class="wrapper">
          <div id='top'>
            <h1>NextRoom</h1>
            <h2>The flexibility of the medical flag system in an app.</h2>
            {% comment %}
            <a class='button' href='/sign-in/' id='sign-in'>Sign In</a>
            {% endcomment %}
            <div id='info-buttons'>
              <a class='button' href='#sign-up' id='get-started-below'>Get Started</a>
              <a class='button' href='#why-nextroom' id='why-next-room'>Why NextRoom?</a>
            </div>
            <div id='slideshow'>
              <div id='iphone'>
                <ul id='slides'>
                  <li>
                    <img src='/media/images/screen-1.jpg' />
                  </li>
                  <li>
                    <img src='/media/images/screen-2.jpg' />
                  </li>
                  <li>
                    <img src='/media/images/screen-3.jpg' />
                  </li>
                  <li>
                    <img src='/media/images/screen-4.jpg' />
                  </li>
                </ul>
                <div id='glare'></div>
              </div>
              <ul id='radio-buttons'>
                <li class='radio-button'>1</li>
                <li class='radio-button'>2</li>
                <li class='radio-button'>3</li>
                <li class='radio-button'>4</li>
              </ul>
            </div>
          </div>
          <div id='steps'>
            <a id="sign-up">&nbsp;</a>
            <div class='step' id='step-1'>
              <h3>Sign Up for NextRoom Service</h3>
              <form id='signup' action="/" method="POST">
                <table>
                  <tr>
                    <td>
                      {{ form.first_name }}
                    </td>
                    <td>
                      {{ form.last_name }}
                    </td>
                  </tr>
                  <tr>
                    <td colspan='2'>
                      {{ form.company }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {{ form.email_address }}
                    </td>
                    <td>
                      {{ form.phone }}
                    </td>
                  </tr>
                </table>
                <input class='submit button' type='submit' value='' />
              </form>
              <div id="error-message">Error.</div>
              <div id="signup-success-overlay"></div>
              <div id="signup-success" class="success">
                Thank You!
              </div>
            </div>
            <div class='step' id='step-2'>
              <h3>
                <a href="http://appsto.re/nextroom">Download NextRoom for Free</a>
              </h3>

              <p>Download NextRoom from iTunes on the iPhone or iPod
              Touch.  Once the download is complete, enter the account
              details supplied during the setup process.</p>

              <a class='button' href='http://appsto.re/nextroom' id='itunes'>Availabe on the iPhone App Store</a>
              <div id="itunes_button_glow"></div>
            </div>
          </div>
      </div>
      <div id='info'>
        <div class="wrapper">
            <div class='why section'>
              <a id="why-nextroom">&nbsp;</a>
              <h2>Why NextRoom App?</h2>
              <ul id='reasons'>
                <li class='reason'>
                    <h4>Your practice, your way.</h4>
                    <p>Customize NextRoom for your practice's unique needs.</p>
                </li>
                <li class='reason'>
                    <h4>Begin using NextRoom almost immediately.</h4>
                    <p>NextRoom requires minimal setup and staff training to use.</p>
                </li>
                <li class='reason'>
                    <h4>Assign rooms to staff.</h4>
                    <p>Quickly assign rooms to a physician or nurse with notes and tasks.</p>
                </li>
                <li class='reason'>
                    <h4>Manage your patient queue.</h4>
                    <p>Instantly see how many rooms are waiting to be seen and in what order.</p>
                </li>
                <li class='reason'>
                    <h4>Receive alerts as new patients are added.</h4>
                    <p>Audible alerts inform staff when a room is added to their queue.</p>
                </li>
                <li class='reason'>
                    <h4>Easily determine the location of staff.</h4>
                    <p>The Occupied tab shows what rooms are accepted by staff.</p>
                </li>
                <li class='reason'>
                    <h4>Eliminate centralized whiteboards and confusing flags.</h4>
                    <p>NextRoom allows you to view, assign, and manage rooms on the go.</p> 
                </li>
                <li class='reason'>
                    <h4>Embrace mobile technology and increase efficiency.</h4>
                    <p>Use NextRoom alongside your favorite ePrescribing or EMR app. Now your patient data and workflow can be managed on the same device.</p>
                </li>
              </ul>
            </div>
            <div class='what section'>
              <h2>What Users Say</h2>
              <h4>Doctors say:</h4>
              <p>"NextRoom has cut the nurse response time to patient
              rooms from minutes to seconds, greatly enhancing the patient
              experience."</p>
              <h4>Nurses say:</h4>
              <p>"NextRoom allows me to find the doctors no matter where
              they are in the building.  Before NextRoom I had to ask
              other nurses or look for clues."</p>

              <div id="requirements_overview">
              <h3>Requirements Overview</h3>
              <ul>
              	<li>WiFi Connection to the Internet</li>
              	<li>iPod Touch or iPhone for each user</li>
              	<li>NextRoom account activation</li>
              	<li>Customize NextRoom for your practice</li>
              </ul>
              <h3>$250/Month (Unlimited Users)</h3>
                  
              </div>
            </div>
            
        </div>
        <div class='clear'></div>
      </div>
    <div id='footer'>
      <div class='sections'>
        <div class='section' id='ready'>
          <h3>Ready for NextRoom?</h3>
          <a class='button' href='#sign-up' id='get-started-above'>Get Started</a>
        </div>
        <div class='section' id='email-signup'>
          <h3>Sign-Up for Email Updates</h3>
          <form action="http://nextroomapp.us1.list-manage.com/subscribe/post?u=9fda491b8552fbd9ab0197027&amp;id=ed0d7935d9" method="post" id="email-signup-form" name="mc-embedded-subscribe-form" target="_blank">
            <input class='text dark' type='text' name='EMAIL' value='address@email.com' />
            <input class='submit button' type='submit' value="" name="subscribe" />
          </form>
        </div>
        <div class='section' id='contact'>
          <h3>Contact &amp; Support</h3>
          <!-- <a class='logo' href='#'>_</a> -->
          <p>
             <a href="mailto:info@nextroomapp.com">info@nextroomapp.com</a> <br />
             423.380.8727
          </p>
        </div>
      </div>
    </div>
    
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-13031710-16']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
