input.submit { background-image: url(../images/btn-submit-ie6.png); }
#info-buttons #why-next-room { background-image: url(../images/btn-why-nextroom-ie6.png); }
#step-2 { background-image: url(../images/devices-ie6.png); }
#itunes  { background-image: url(../images/btn-app-store-ie6.png); }
#get-started-above  { background-image: url(../images/btn-get-started-above-ie6.png); }
#reasons li { background-image: url(../images/plus-bullet-ie6.png); }

.what img.wifi { display:none; }
.what img.wifi-ie6 { display:block; }

#contact { margin-left: 26px; }
#email-signup { margin-left: 28px; }