

#iphone { background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/media/images/iphone.png', sizingMethod='crop'); }

#glare { background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/media/images/glare.png', sizingMethod='crop'); }

.what img.wifi { display:none; }
.what img.wifi-ie6 { display:block; }

#ready { margin-left: 30px; }
#email-signup { margin-left: 50px; }
#contact { margin-left: 34px; }
#footer #contact h3 { margin-left:0; }